<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>About</title>
</head>
<body>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photogallery">Gallery</a>
    <h1>Adopt a furry friend</h1>
    <p>"Paws"  is a 501(c)3 non-profit, volunteer, donor-subsidized animal rescue organization based in Miami, Florida. Over the last 11 years, we have served the vital need of sheltering, fostering, and placing dogs in the southern part of Miami-Dade County. We offer life-saving services and employ various strategies to place and keep animals in loving, lifelong homes. These include:
        Saving dogs from abandonment and euthanasia
        Providing needed medical care including, but not limited to, spaying, neutering, vaccinations, and emergency procedures
        Providing a safe retreat/shelter with the end goal of adopting dogs into safe and loving families
        Educating the community to spread awareness of our mission and grow its volunteer and donor base.</p>
        
    </body>
</html>