<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Works</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/photogallery">Gallery</a>
    <h2>Mission</h2>
        <p>Serving our community through rescuing abandoned and neglected animals, nurturing these animals back to health through love and state-of-the-art care, and providing crucial education to promote healthy and enriching relationships between pet owners and their pets.</p>
        <h2>Vision</h2>
        <p>PAWS4you visualizes a world where pets are safe from the threat of euthanasia and live fully in the comfort of loving homes, enhancing the lives of those around them.</p>
    <h2>Our commitment is to save one dog at a time</h2>
    <p>The vision of PAWS4you is to not only save animals but to elevate the way communities interact with their pets, thus preventing abandonment and abuse altogether. Today,

    11 years later, PAWS4you is grateful for each individual who has contributed to our efforts in saving thousands of dogs’ lives along our humble journey. As we move into the future, we continue to help individuals to nurture healthier relationships with their pets from the beginning, which helps avoid instances of pet abandonment and abuse. And we continue to work hard as a team in finding homes for animals by carefully placing them with potential owners. In such a way, we envision a community where pets live safely and happily, while enriching the lives of those owners who will care for them forever.
    
    </p>
</body>
</html>